<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <%= render "/refinery/head" %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  </head>
  <body id="<%= canonical_id @page %>">
    <%= site_bar -%>
    <div class="page-wrap" id="page_container">
      <header id="header">
        <%= render "/refinery/header" -%>
      </header>
      <section id="page">

              <%= yield %>
        
      </section>
      </div>
    <footer class="site-footer">
      <%= render "/refinery/footer" -%>
    </footer>


    
    <%= render "/refinery/javascripts" %>
  </div>
  </body>
</html>
